

body {
    background-color: #f0f5eb;

}

article#main {
    border: 3pt double #396110;
    padding: 10px;    
    max-width: 600px;
    min-width: 300px;
    margin: 10px auto 10px auto;
    text-align: center;    
}

    h1 {
        text-align: center;
        font-family: "Lobster Two", Verdana, Tahoma, serif;
        font-size: 42pt;
        font-weight: bolder;
    }

    p {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
        font-size: 12pt;
        font-weight: 500;
    }

article#second {
    border: 3pt double #396110;
    padding: 10px;    
    max-width: 600px;
    min-width: 300px;
    margin: 30px auto 10px auto;
    text-align: center;    
    }
    
    h1 {
        text-align: center;
        font-family: "Lobster Two", Verdana, Tahoma, serif;
        font-size: 42pt;
        font-weight: bolder;
    }
    
     p {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
        font-size: 12pt;
        font-weight: 500;
    }

article#third {
    border: 3pt double #396110;
    padding: 10px;    
    max-width: 600px;
    min-width: 300px;
    margin: 30px auto 10px auto;
    text-align: center;    
    }
    
    h1 {
        text-align: center;
        font-family: "Lobster Two", Verdana, Tahoma, serif;
        font-size: 42pt;
        font-weight: bolder;
    }
    
     p {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
        font-size: 12pt;
        font-weight: 500;
    }

section#one {
    border: 3pt double #396110;
    padding: 10px;
    max-width: 400px;
    min-width: 250px;
    margin: -2250px 25px auto 140px;
    text-align: center;
}

    h2 {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
    }

    p {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
        font-size: 10pt;
        font-weight: 500; 
    }

section#two {
    border: 3pt double #396110;
    padding: 10px;
    max-width: 400px;
    min-width: 250px;
    margin: 30px 25px auto 140px;
    text-align: center;
}

    h2 {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
    }

    p {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
        font-size: 10pt;
        font-weight: 500; 
    }

section#three {
    border: 3pt double #396110;
    padding: 10px;
    max-width: 400px;
    min-width: 250px;
    margin: 30px 25px auto 140px;
    text-align: center;
}

    h2 {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
    }

    p {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
        font-size: 10pt;
        font-weight: 500; 
    }

section#four {
    border: 3pt double #396110;
    padding: 10px;
    max-width: 400px;
    min-width: 250px;
    margin: -1790px 25px auto 1320px;
    text-align: center;
}

    h2 {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
    }

    p {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
        font-size: 10pt;
        font-weight: 500; 
    }

section#five {
    border: 3pt double #396110;
    padding: 10px;
    max-width: 400px;
    min-width: 250px;
    margin: 30px 25px auto 1320px;
    text-align: center;
}

    h2 {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
    }

    p {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
        font-size: 10pt;
        font-weight: 500; 
    }

section#six {
    border: 3pt double #396110;
    padding: 10px;
    max-width: 400px;
    min-width: 250px;
    margin: 30px 25px auto 1320px;
    text-align: center;
}

    h2 {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
    }

    p {
        font-family: 'Oxygen', Verdana, Tahoma, serif;
        font-size: 10pt;
        font-weight: 500; 
    }

